<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <link rel="stylesheet" href="{% static 'school/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">CRUD Project</h2>
        {% block content %}
        {% endblock content %}
    </div>


    <script src="{% static 'school/js/jquery.js' %}"></script>
    <script src="{% static 'school/js/popper.js' %}"></script>
    <script src="{% static 'school/js/bootstraps.js' %}"></script>
</body>
</html>