{% extends "school/base.html" %}
{% block content %}
<h4>Update Student</h4>
<div class="row">
    <div class="col-sm-8 offset-1">
        <h4 class="alert alert-info">Update Student Informtion</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-success" value="Update">
            <a href="{% url 'add_and_show' %}" class="btn btn-info">Back To Home</a>
        </form>
    </div>
</div>
{% endblock content %}